<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <h1>情報資産の追加</h1>
        <form action="/add-asset" method="POST">

            <label for="category ">業務分類：</label>
            <input type="text" id="category" name="category" required>

            <label for="name">資産名称：</label>
            <input type="text" id="name" name="name" required>

            <label for="note">備考：</label>
            <input type="text" id="note" name="note">

            <label for="user">利用者範囲：</label>
            <input type="text" id="user" name="user" required>

            <label for="bureau">管理部署：</label>
            <input type="text" id="bureau" name="bureau" required>

            <label for="charge">管理者名：</label>
            <input type="text" id="charge" name="charge" required>

            <label for="contact">管理者連絡先：</label>
            <input type="text" id="contact" name="contact" required>

            <label for="media">媒体・保存先：</label>
            <input type="text" id="media" name="media" required>

            <label for="c">機密性：</label>
            <input type="number" id="c" name="c" min="1" max="3" required>
            <p>1. 漏洩しても影響は軽微</p>
            <p>2. 漏洩すると自社／顧客に大きな影響</p>
            <p>3. 漏洩すると違法／契約違反／保護義務違反</p>
            <br>

            <label for="i">完全性：</label>
            <input type="number" id="i" name="i" min="1" max="3" required>
            <p>1. 改ざんされても影響は軽微</p>
            <p>2. 改ざんされると自社／顧客に大きな影響</p>
            <p>3. 改ざんされると違法／契約違反／深刻な影響</p>
            <br>

            <label for="a">可用性：</label>
            <input type="number" id="a" name="a" min="1" max="3" required>
            <p>1. 利用できなくても影響は軽微</p>
            <p>2. 利用できないと事業に大きな影響</p>
            <p>3. 利用できないと自社／顧客に深刻な損失（例：ECサイト）</p>
            <br>

            <label for="expire">保存期限：</label>
            <input type="date" id="expire" name="expire"  required>

            <label for="registered">登録日：</label>
            <input type="date" id="registered" name="registered" required>

            <button id="submit" type="submit">資産を追加する</button>
        </form>
        <a href="/" class="btn-back">情報資産一覧に戻る</a>
    </div>
</body>

</html>