<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>情報資産の追加</h1>
        <form action="/add-book" method="POST">
            <label for="title">資産名：</label>
            <input type="text" id="title" name="title" placeholder="資産名を入力" required>
            
            <label for="author">担当者名：</label>
            <input type="text" id="author" name="author" placeholder="管理担当者名を入力" required>
            
            <label for="bureau">管理部署名：</label>
            <input type="text" id="bureau" name="bureau" placeholder="管理部署名を入力" required>
            
            <label for="risk">リスク値：</label>
            <input type="radio" value="1" id="risk" name="risk" placeholder="管理部署名を入力" required>
            <input type="radio" value="2" id="risk" name="risk" placeholder="管理部署名を入力" required>
            <input type="radio" value="3" id="risk" name="risk" placeholder="管理部署名を入力" required>
            
            <label for="c">機密性：</label>
            <input type="radio" value="1" id="c" name="c" placeholder="管理部署名を入力" required>
            <input type="radio" value="2" id="c" name="c" placeholder="管理部署名を入力" required>
            <input type="radio" value="3" id="c" name="c" placeholder="管理部署名を入力" required>
            
            <label for="i">完全性：</label>
            <input type="radio" value="1" id="i" name="i" placeholder="管理部署名を入力" required>
            <input type="radio" value="2" id="i" name="i" placeholder="管理部署名を入力" required>
            <input type="radio" value="3" id="i" name="i" placeholder="管理部署名を入力" required>
            
            <label for="a">可用性：</label>
            <input type="radio" value="1" id="a" name="a" placeholder="管理部署名を入力" required>
            <input type="radio" value="2" id="a" name="a" placeholder="管理部署名を入力" required>
            <input type="radio" value="3" id="a" name="a" placeholder="管理部署名を入力" required>

            <button type="submit">資産を追加する</button>
        </form>
        <a href="/books" class="btn-back">情報資産一覧に戻る</a>
    </div>
</body>
</html>

