<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>情報資産の追加</h1>
        <form action="/add-book" method="POST">
            <label for="title">資産名：</label>
            <input type="text" id="title" name="title" placeholder="資産名を入力" required>
            
            <label for="author">担当者名：</label>
            <input type="text" id="author" name="author" placeholder="管理担当者名を入力" required>
            
            <button type="submit">資産を追加する</button>
        </form>
        <a href="/books" class="btn-back">情報資産一覧に戻る</a>
    </div>
</body>
</html>

