<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>情報資産一覧</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>情報資産一覧</h1>
        <table>
            <thead>
                <tr>
                    <th>情報資産名</th>
                    <th>管理担当者名</th>
                    <th>管理部署名</th>

                    <th>利用者範囲</th>
                    <th>管理部署</th>
                    <th>管理部署名</th>
                    
                    <th>リスク値</th>
                    <th>機密性</th>
                    <th>完全性</th>
                    <th>可用性</th>
                    <th>管理部署名</th>
                    <th>管理部署名</th>

                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.bureau }}</td>
                    <td>{{ book.risk }}</td>
                    <td>{{ book.c }}</td>
                    <td>{{ book.i }}</td>
                    <td>{{ book.a }}</td>
                    <td>
                        <form action="/delete-book/{{ book.id }}" method="POST" style="display:inline;">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/add-book" class="btn-add">情報資産を追加する</a>
    </div>
</body>
</html>

